:root {
    --event-card-bg: #ffffff;
    --event-border-radius: 0.375rem;
}

html, body {
    height: 100%;
    margin: 0;
}

#blazor-error-ui {
    display: none;
}

#blazor-error-ui .dismiss {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}
