.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.main-content {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
