@inherits MvvmComponentBase<ConfirmationDialogViewModel>

<ModalDialog IsOpen="@ViewModel.IsOpen"
             Title="@ViewModel.Title"
             MaxWidth="450"
             OnClose="() => ViewModel.CancelCommand.Execute(null)">
    <ChildContent>
        <p class="mb-0">@ViewModel.Message</p>
    </ChildContent>
    <FooterContent>
        <button type="button"
                class="btn btn-@(ViewModel.ConfirmButtonStyle)"
                @onclick="() => ViewModel.ConfirmCommand.Execute(null)">
            @ViewModel.ConfirmButtonText
        </button>
        <button type="button"
                class="btn btn-secondary"
                @onclick="() => ViewModel.CancelCommand.Execute(null)">
            Cancel
        </button>
    </FooterContent>
</ModalDialog>
