.header-bar {
    flex-shrink: 0;
    padding: 1rem;
    min-height: 70px;
    display: flex;
    align-items: center;
    background-color: var(--color-surface-2);
    border-bottom: 1px solid var(--color-border);
}

.header-bar ::deep .btn {
    font-variant-emoji: text;
}
