@inject ServerDetailViewModel ServerDetailVM
@inject SidePanelViewModel SidePanelVM

<SlidePanel Position="PanelPosition.Right"
            Width="@SidePanelVM.PanelWidth"
            WidthChanged="@OnWidthChanged"
            AriaLabel="Server information">
    <Header>
        <div class="side-panel-header-content">
            <h5 class="panel-title">Server Info</h5>
        </div>
    </Header>
    <ChildContent>
        <div class="server-info-content text-muted">
            <p class="server-name"><strong>@ServerDetailVM.ServerName</strong></p>
            <p class="small">Server details coming soon.</p>
        </div>
    </ChildContent>
</SlidePanel>

@code {
    private void OnWidthChanged(int newWidth)
    {
        SidePanelVM.SetWidth(newWidth);
    }
}
