@inject INavigationService NavigationService

<div class="tabbed-view">
    <TabBar Tabs="Tabs" ActiveTabId="@ActiveTabId"
            OnTabChanged="OnTabClick" AriaLabel="@AriaLabel" />
    <div class="tab-content" role="tabpanel">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public IReadOnlyList<TabItem> Tabs { get; set; } = Array.Empty<TabItem>();

    [Parameter]
    public string ActiveTabId { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string AriaLabel { get; set; } = "Tabs";

    private void OnTabClick(TabItem tab)
    {
        NavigationService.NavigateTo(tab.Route);
    }
}
